# Module 2 RDD and DataFrame

## RDD

In [ ]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('abc').getOrCreate()

In [ ]:
sc = spark.sparkContext

In [ ]:
a = [i*i for i in range(10)]

In [ ]:
rdd = sc.parallelize(a)

In [ ]:
rdd.take(2)

In [ ]:
rdd.count()

In [ ]:
rdd.collect()

In [ ]:
rdd2 = rdd.filter(lambda x: x%2==0)
rdd2.collect()

In [ ]:
rdd3 = b.map(lambda x: (x, 1))
rdd3.collect()

In [ ]:
from operator import add
rdd.reduce(add)

## Import Data

In [ ]:
rdd = sc.textFile('data/employee.csv')

## Exploring Data

In [ ]:
rdd.take(5)

In [ ]:
rdd.count()

In [ ]:
rdd.first()

In [ ]:
rdd2 = rdd.sample(False,0.1)
rdd2.count()

## Dataframe

In [ ]:
3df = spark.read.load('data/employee.csv',format='csv',header=True,inferSchema=True)

df = spark.read.csv('data/employee.csv',header=True,inferSchema=True);

In [ ]:
df.schema
df.printSchema()
df.columns

In [ ]:
df.take(5)
df.count()

In [ ]:
df2 = df.sample(False,0.1)
df2.count()

In [ ]:
df3 = df.filter("salary>10000")
df3.count()

In [ ]:
df.select("salary").show()
df.select('salary').orderBy('salary').show()

In [ ]:
df.groupBy('gender').sum().show()
df.select(['salary','gender','region_id']).groupBy('gender').sum().show()